.DS_Store
/*.iml
/.idea
/proguard_logs/
/nbandroid/
/proguard.cfg
/build.xml
/*.properties
Thumbs.db
.*.swp

# built application files
*.apk
*.ap_

# files for the dex VM
*.dex

# Java class files
*.class

# Local configuration file (sdk path, etc)
local.properties

# Eclipse project files
.classpath
.project

data/pages/*

*.html
/data/pages/102.html
/data/pages/103.html
/data/pages/104.html
/data/pages/105.html
/data/pages/106.html
/data/pages/107.html
/data/pages/108.html
/data/pages/109.html
/data/pages/11.html
/data/pages/110.html
/data/pages/111.html
/data/pages/112.html
/data/pages/113.html
/data/pages/114.html
/data/pages/115.html
/data/pages/116.html
/data/pages/117.html
/data/pages/118.html
/data/pages/119.html
/data/pages/12.html
/data/pages/120.html
/data/pages/121.html
/data/pages/122.html
/data/pages/123.html
/data/pages/124.html
/data/pages/125.html
/data/pages/126.html
/data/pages/127.html
/data/pages/128.html
/data/pages/129.html
/data/pages/13.html
/data/pages/130.html
/data/pages/131.html
/data/pages/132.html
/data/pages/133.html
/data/pages/134.html
/data/pages/135.html
/data/pages/136.html
/data/pages/137.html
/data/pages/138.html
/data/pages/139.html
/data/pages/14.html
/data/pages/140.html
/data/pages/141.html
/data/pages/142.html
/data/pages/143.html
/data/pages/144.html
/data/pages/145.html
/data/pages/146.html
/data/pages/147.html
/data/pages/148.html
/data/pages/149.html
/data/pages/15.html
/data/pages/150.html
/data/pages/151.html
/data/pages/152.html
/data/pages/153.html
/data/pages/154.html
/data/pages/155.html
/data/pages/156.html
/data/pages/157.html
/data/pages/158.html
/data/pages/159.html
/data/pages/16.html
/data/pages/160.html
/data/pages/161.html
/data/pages/162.html
/data/pages/163.html
/data/pages/164.html
/data/pages/165.html
/data/pages/166.html
/data/pages/167.html
/data/pages/168.html
/data/pages/169.html
/data/pages/17.html
/data/pages/170.html
/data/pages/171.html
/data/pages/172.html
/data/pages/173.html
/data/pages/174.html
/data/pages/175.html
/data/pages/176.html
/data/pages/177.html
/data/pages/178.html
/data/pages/179.html
/data/pages/18.html
/data/pages/180.html
/data/pages/181.html
/data/pages/182.html
/data/pages/183.html
/data/pages/184.html
/data/pages/185.html
/data/pages/186.html
/data/pages/187.html
/data/pages/188.html
/data/pages/189.html
/data/pages/19.html
/data/pages/190.html
/data/pages/191.html
/data/pages/192.html
/data/pages/193.html
/data/pages/194.html
/data/pages/195.html
/data/pages/196.html
/data/pages/197.html
/data/pages/198.html
/data/pages/199.html
/data/pages/2.html
/data/pages/20.html
/data/pages/200.html
/data/pages/201.html
/data/pages/202.html
/data/pages/203.html
/data/pages/204.html
/data/pages/205.html
/data/pages/206.html
/data/pages/207.html
/data/pages/208.html
/data/pages/209.html
/data/pages/21.html
/data/pages/210.html
/data/pages/211.html
/data/pages/212.html
/data/pages/213.html
/data/pages/214.html
/data/pages/215.html
/data/pages/216.html
/data/pages/217.html
/data/pages/218.html
/data/pages/219.html
/data/pages/22.html
/data/pages/220.html
/data/pages/221.html
/data/pages/222.html
/data/pages/223.html
/data/pages/224.html
/data/pages/225.html
/data/pages/226.html
/data/pages/227.html
/data/pages/228.html
/data/pages/229.html
/data/pages/23.html
/data/pages/230.html
/data/pages/231.html
/data/pages/232.html
/data/pages/233.html
/data/pages/234.html
/data/pages/235.html
/data/pages/236.html
/data/pages/237.html
/data/pages/238.html
/data/pages/239.html
/data/pages/24.html
/data/pages/240.html
/data/pages/241.html
/data/pages/242.html
/data/pages/243.html
/data/pages/244.html
/data/pages/245.html
/data/pages/246.html
/data/pages/247.html
/data/pages/248.html
/data/pages/249.html
/data/pages/25.html
/data/pages/250.html
/data/pages/251.html
/data/pages/252.html
/data/pages/253.html
/data/pages/254.html
/data/pages/255.html
/data/pages/256.html
/data/pages/257.html
/data/pages/258.html
/data/pages/259.html
/data/pages/26.html
/data/pages/260.html
/data/pages/261.html
/data/pages/262.html
/data/pages/263.html
/data/pages/264.html
/data/pages/265.html
/data/pages/266.html
/data/pages/267.html
/data/pages/268.html
/data/pages/269.html
/data/pages/27.html
/data/pages/270.html
/data/pages/271.html
/data/pages/272.html
/data/pages/273.html
/data/pages/274.html
/data/pages/275.html
/data/pages/276.html
/data/pages/277.html
/data/pages/278.html
/data/pages/279.html
/data/pages/28.html
/data/pages/280.html
/data/pages/281.html
/data/pages/282.html
/data/pages/283.html
/data/pages/284.html
/data/pages/285.html
/data/pages/286.html
/data/pages/287.html
/data/pages/288.html
/data/pages/289.html
/data/pages/29.html
/data/pages/290.html
/data/pages/291.html
/data/pages/292.html
/data/pages/293.html
/data/pages/294.html
/data/pages/295.html
/data/pages/296.html
/data/pages/297.html
/data/pages/298.html
/data/pages/299.html
/data/pages/3.html
/data/pages/30.html
/data/pages/300.html
/data/pages/301.html
/data/pages/302.html
/data/pages/303.html
/data/pages/304.html
/data/pages/305.html
/data/pages/306.html
/data/pages/307.html
/data/pages/308.html
/data/pages/309.html
/data/pages/31.html
/data/pages/310.html
/data/pages/311.html
/data/pages/312.html
/data/pages/313.html
/data/pages/314.html
/data/pages/315.html
/data/pages/316.html
/data/pages/317.html
/data/pages/318.html
/data/pages/319.html
/data/pages/32.html
/data/pages/320.html
/data/pages/321.html
/data/pages/322.html
/data/pages/323.html
/data/pages/324.html
/data/pages/325.html
/data/pages/326.html
/data/pages/327.html
/data/pages/328.html
/data/pages/329.html
/data/pages/33.html
/data/pages/330.html
/data/pages/331.html
/data/pages/332.html
/data/pages/333.html
/data/pages/334.html
/data/pages/335.html
/data/pages/336.html
/data/pages/337.html
/data/pages/338.html
/data/pages/339.html
/data/pages/34.html
/data/pages/340.html
/data/pages/341.html
/data/pages/342.html
/data/pages/343.html
/data/pages/344.html
/data/pages/345.html
/data/pages/346.html
/data/pages/347.html
/data/pages/348.html
/data/pages/349.html
/data/pages/35.html
/data/pages/350.html
/data/pages/351.html
/data/pages/352.html
/data/pages/353.html
/data/pages/354.html
/data/pages/355.html
/data/pages/356.html
/data/pages/357.html
/data/pages/358.html
/data/pages/359.html
/data/pages/36.html
/data/pages/360.html
/data/pages/361.html
/data/pages/362.html
/data/pages/363.html
/data/pages/364.html
/data/pages/365.html
/data/pages/366.html
/data/pages/367.html
/data/pages/368.html
/data/pages/369.html
/data/pages/37.html
/data/pages/370.html
/data/pages/371.html
/data/pages/372.html
/data/pages/373.html
/data/pages/374.html
/data/pages/375.html
/data/pages/376.html
/data/pages/377.html
/data/pages/378.html
/data/pages/379.html
/data/pages/38.html
/data/pages/380.html
/data/pages/381.html
/data/pages/382.html
/data/pages/383.html
/data/pages/384.html
/data/pages/385.html
/data/pages/386.html
/data/pages/387.html
/data/pages/388.html
/data/pages/389.html
/data/pages/39.html
/data/pages/390.html
/data/pages/391.html
/data/pages/392.html
/data/pages/393.html
/data/pages/394.html
/data/pages/395.html
/data/pages/396.html
/data/pages/397.html
/data/pages/398.html
/data/pages/399.html
/data/pages/4.html
/data/pages/40.html
/data/pages/400.html
/data/pages/401.html
/data/pages/402.html
/data/pages/403.html
/data/pages/404.html
/data/pages/405.html
/data/pages/406.html
/data/pages/407.html
/data/pages/408.html
/data/pages/409.html
/data/pages/41.html
/data/pages/410.html
/data/pages/411.html
/data/pages/412.html
/data/pages/413.html
/data/pages/414.html
/data/pages/415.html
/data/pages/416.html
/data/pages/417.html
/data/pages/418.html
/data/pages/419.html
/data/pages/42.html
/data/pages/420.html
/data/pages/421.html
/data/pages/422.html
/data/pages/423.html
/data/pages/424.html
/data/pages/425.html
/data/pages/426.html
/data/pages/427.html
/data/pages/428.html
/data/pages/429.html
/data/pages/43.html
/data/pages/430.html
/data/pages/431.html
/data/pages/432.html
/data/pages/433.html
/data/pages/434.html
/data/pages/435.html
/data/pages/436.html
/data/pages/437.html
/data/pages/438.html
/data/pages/439.html
/data/pages/44.html
/data/pages/440.html
/data/pages/441.html
/data/pages/442.html
/data/pages/443.html
/data/pages/444.html
/data/pages/445.html
/data/pages/446.html
/data/pages/447.html
/data/pages/448.html
/data/pages/449.html
/data/pages/45.html
/data/pages/450.html
/data/pages/451.html
/data/pages/452.html
/data/pages/453.html
/data/pages/454.html
/data/pages/455.html
/data/pages/456.html
/data/pages/457.html
/data/pages/458.html
/data/pages/459.html
/data/pages/46.html
/data/pages/460.html
/data/pages/461.html
/data/pages/462.html
/data/pages/463.html
/data/pages/464.html
/data/pages/465.html
/data/pages/466.html
/data/pages/467.html
/data/pages/468.html
/data/pages/469.html
/data/pages/47.html
/data/pages/470.html
/data/pages/471.html
/data/pages/472.html
/data/pages/473.html
/data/pages/474.html
/data/pages/48.html
/data/pages/49.html
/data/pages/5.html
/data/pages/50.html
/data/pages/51.html
/data/pages/52.html
/data/pages/53.html
/data/pages/54.html
/data/pages/55.html
/data/pages/56.html
/data/pages/57.html
/data/pages/58.html
/data/pages/59.html
/data/pages/6.html
/data/pages/60.html
/data/pages/61.html
/data/pages/62.html
/data/pages/63.html
/data/pages/64.html
/data/pages/65.html
/data/pages/66.html
/data/pages/67.html
/data/pages/68.html
/data/pages/69.html
/data/pages/7.html
/data/pages/70.html
/data/pages/71.html
/data/pages/72.html
/data/pages/73.html
/data/pages/74.html
/data/pages/75.html
/data/pages/76.html
/data/pages/77.html
/data/pages/78.html
/data/pages/79.html
/data/pages/8.html
/data/pages/80.html
/data/pages/81.html
/data/pages/82.html
/data/pages/83.html
/data/pages/84.html
/data/pages/85.html
/data/pages/86.html
/data/pages/87.html
/data/pages/88.html
/data/pages/89.html
/data/pages/9.html
/data/pages/90.html
/data/pages/91.html
/data/pages/92.html
/data/pages/93.html
/data/pages/94.html
/data/pages/95.html
/data/pages/96.html
/data/pages/97.html
/data/pages/98.html
/data/pages/99.html
/data/areas.sqlite